{% extends 'base.html' %}

{% block title %}
    Додавання поста
{% endblock %}

{% block style %}{% endblock %}

{% block content %}
    <div class="intro">
        <div class="container">
            <div class="intro-container">
                <div class="intro__row">
                    <div class="intro__title">
                        <span>{{ category.name }}</span>
                    </div>
                    <div class="intro__description">
                        <p>{{ category.description }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="dividing-line">
        <div class="container">
            <div class="dividing-line__row">
                <div class="dividing-line__title">Кількість публікацій в Категорії: {{ posts_count }}</div>
            </div>
        </div>
    </div>
    <div class="posts-list">
        <div class="container">
            <div class="posts-list-container">
                <div class="posts-list__row">
                    {% for post in posts %}
                    <div class="posts-list__column">
                        <div class="posts-list__item item">
                            <div class="item__image">
                                <img src="{{ post.image.url }}" alt="Без фото">
                            </div>
                            <div class="item__body">
                                <div class="item__brand">{{ post.brand }}</div>
                                <div class="item__model">{{ post.car_model }}</div>
                                <div class="item__year">{{ post.year }}</div>
                                <div class="item__excerpt">{{ post.excerpt }}</div>
                                <div class="item__author">{{ post.author }}</div>
                            </div>
                            <a class="item__detail" href="{{ post.get_absolute_url }}">
                                <div>Детальніше</div>
                            </a>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}