{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'base.css' %}">
    {% block style %}{% endblock %}
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <div class="wrapper">
        <header class="header">
            <div class="container">
                <div class="header__navbar navbar">
                    <div class="navbar__company-text">
                        <a href="">VELOXCAR</a>
                    </div>
                    <ul class="navbar__list">
                        <li><a href="{% url 'blog:index' %}">Головна</a></li>
                        <li><a href="{% url 'blog:index' %}#categories">Категорії</a></li>
                        <li><a href="{% url 'blog:all_posts' %}">Усі публікації</a></li>
                    </ul>
                    <div class="navbar__userpanel">
                        {% if not user.is_authenticated %}
                        <div class="navbar__log"><a href="{% url 'accounts:authorization' %}">Увійти </a></div>
                        {% else %}
                        <div class="navbar__logout"><a href="{% url 'accounts:user_logout' %}">Вийти з акаунта</a></div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </header>
        <main class="content">
            {% block content %}{% endblock %}
        </main>
        <footer class="footer">
            <div class="container">
                <div class="footer__row">
                    <div class="footer__company-text">VELOXCAR</div>
                    <ul class="footer__list">
                        <li><a href="{% url 'blog:about_us' %}">Про нас</a></li>
                        <li><a href="">Зв'язатися з нами</a></li>
                    </ul>
                </div>
                <div class="footer__rights">©2024 All Rights Reserved.</div>
            </div>
        </footer>
    </div>
</body>
</html>